.article{
    position: relative;
    background-image: url('/images/slide04.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    color: #fff;
  }